.navegable-continer{
    overflow: hidden;
    position: relative;
}

.navegablebackwards{
    width: 50%;
    height: 30PX;
    position: absolute;
    left: 0;
    height: 100%;
}

.navegablefoward{
    width: 50%;
    height: 30PX;
    position: absolute;
    right: 0;
    height: 100%;

}