.navegable-continer{
    overflow: hidden;
    position: relative;
}

.navegablebackwards{
    background-color: rgba(162, 45, 45, 0.557);
    width: 50%;
    height: 30PX;
    position: absolute;
    left: 0;
    height: 100%;
}

.navegablefoward{
    background-color: rgba(48, 48, 164, 0.553);
    width: 50%;
    height: 30PX;
    position: absolute;
    right: 0;
    height: 100%;

}