.navegable-continer{
    overflow: hidden;
    position: relative;
}

.navegablebackwards{
    width: 50%;
    height: 30PX;
    position: absolute;
    left: 0;
    height: 100%;
}

.navegablefoward{
    width: 50%;
    height: 30PX;
    position: absolute;
    right: 0;
    height: 100%;

}

.background{
    display: none;
    background-image: url("/Untitled design (2).png");
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modalEliminarMultiples{
    display: none;

}
.modalEliminarMultiples_ON{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;
    background-color: #333333d0;
    color: wheat;
    min-width: 300px;
    padding: 999px;

}
.modalEliminarMultiples_botones_container{
    display: flex;
    justify-content: space-around;
}
.modalEliminarMultiples_botones{
    scale: 2.4;
    margin-top: 30px;
}