body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  position: relative;
  
}

header {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 50vh;
  
}

h1 {
  font-size: 2.5rem;
  color: #d81b60;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  color: #555;
}
.nav{
  display: flex;
  position: sticky;
  justify-content: space-around;
  top: 15px;
  min-width: 100px;
  max-width: 511px;
  width: 50%;
  height: 1.9rem;
  align-items: center;
  border: 2px solid black;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
  z-index: 10;
  background-color: white;
}

.icono{
  scale: 2;
  margin-left: 10px;
  transition: scale 0.2s;
  
}
.botonesExpandir{
  display: none;
}
.icono:hover{
  scale: 2.6;
}
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 0.5rem;
  padding: 0.8rem;
  max-width: 900px;
  margin: auto;
  
}
.CargarMasContenedor{
  border: 2px solid black;
  background-color: #aaaaaa8f;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.2s;
  
}
.CargarMasContenedor:hover{
  scale: 1.05;
}
.CargarMas{
  font-size: 50px;
  font-weight: 100;
}

.singleIMG-continer{
transition: scale 0.15s;
width: 100%;
cursor: pointer;
scale: 1;
}
.singleIMG-continer:hover{
  scale: 1.05;
}

.singleIMG{
  border-radius: 9px;
  border: 2px solid black;
  max-width: 100px;
}

.photo-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photo-card:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #aaa;
}

.panel_insertar{
  display: none;
  flex-direction: column;
  background-color: wheat;
  border: 2px solid black;
  position: fixed;
  width: 95vw;
  height: 60vh;
  max-width: 600px;
  top: 50%;          /* 1. Lo posiciona al 50% del viewport */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 13px;

}
.panel_insertar_minimizado{
  display: flex;
  top : auto;
  top: 16px;
  height: 25px;
  align-items: center;
}

.Cargando{
margin: auto;
}
.inputfile{
display: none;

}
.file_input_label{
max-width: 80%;
margin: auto;
padding: 20px;
border: 2px solid black;
border-radius: 13px;
background-color: #d81b60;
}
.contenedor_botones{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.GuardarImagen{
max-width: 80%;
margin: auto;
padding: 20px;
border-radius: 13px;
background-color: #d81b60;
}

.modal_mostrarImg{
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  
  height: fit-content;  
  top: 50%;          /* 1. Lo posiciona al 50% del viewport */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #444444a4;
  z-index: 10;
  padding: 900px 0;
  
}
.imgDiv{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
  
}
.img_mostrar_modal{
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 91vh;
  border: 2px solid black;
  border-radius: 20px;
}
.modal_expandirImagen_contenedor{
  background-color: #aaa;
  display: none;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  max-width: 300px;
  margin: auto;
  
}
.modal_expandirImagen_botones{
  scale: 2.2;
}

.modalEliminar{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 30;
  top: 50%;          /* 1. Lo posiciona al 50% del viewport */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(8, 8, 8, 0.753);
  height: 10%;
  width: 10%;
  min-height: 200px;
  min-width: 300px;
  padding: 999px;
  color: wheat;
}
.modalEliminar_contenedor_botones{
  
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
}
.modalEliminarbotones{
  scale: 2.2;
}

.modalNotificaciones{
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #d81b37;
  width: 100%;
  text-align: center;
  border-radius: 13px;
  min-width: 375px;
  max-width: 600px;
  color: aliceblue;
  margin: auto;
}
.modalNotificaciones2{
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #d81b37;
  width: 100%;
  text-align: center;
  border-radius: 13px;
  min-width: 375px;
  max-width: 600px;
  color: aliceblue;
  margin: auto;
}
.transition{
  transition: scale 0.13s;
}